{% for label, messages in app.flashes %}
	<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
		<div class="text-center">
			<strong>
				{% for message in messages %}
					{{ message|raw }}
					{% if label is same as("succes") %}
						{% elseif label is same as("danger") %}
					{% endif %}
				{% endfor %}
			</strong>
		</div>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endfor %}
