{% extends 'base.html.twig' %}

{% block title %}Tekoma
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container accueil">
		<main>
			<div class="row">
				<div class="col text-center mt-3 title">
					<div>Oups...  Cette page n'existe pas !</div>
				</div>
			</div>
			<div class="row">
				<div class="col text-center mt-3">
					<div>La page que vous recherchez n'existe pas.</div>
				</div>
			</div>
			<div class="row">
				<div class="col text-center mt-3">
					<div class="fs-1">401</div>
				</div>
			</div>
			<div class="row justify-content-center align-itms-center">
				<div class="col text-center mt-3">
					<div class="grid-item m-5"></div>
					<div class="grid-item grid-item--width2 grid-item--height3 m-5"></div>
					<div class="grid-item grid-item--height2 m-5"></div>
					<div class="grid-item grid-item--height2 m-5"></div>
					<div class="grid-item grid-item--width3 m-5"></div>
					<div class="grid-item m-5"></div>
					<div class="grid-item m-5"></div>
					<div class="grid-item grid-item--height2 m-5"></div>
					<div class="grid-item grid-item--width2 grid-item--height3 m-5"></div>
					<div class="grid-item m-5"></div>
					<div class="grid-item grid-item--height2 m-5"></div>
					<div class="grid-item m-5"></div>
					<div class="grid-item grid-item--height2 m-5"></div>
					<div class="grid-item grid-item--width2 m-5"></div>
					<div class="grid-item m-5"></div>
					<div class="grid-item grid-item--height2 m-5"></div>
					<div class="grid-item m-5"></div>
					<div class="grid-item m-5"></div>
					<div class="grid-item grid-item--height3 m-5"></div>
					<div class="grid-item grid-item--height2 m-5"></div>
					<div class="grid-item m-5"></div>
					<div class="grid-item grid-item--height2 m-5"></div>
					<div class="grid-item m-5"></div>
					<div class="grid-item m-5"></div>
				</div>
			</div>
			<div class="row">
				<div class="col text-center mt-3"></div>
			</div>
		</main>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
