/* [class^="col"] {
  border: 1px solid rgb(212, 95, 95)!important;
}

[class^="row"] {
  border: 1px solid yellow!important;
} */

* { box-sizing: border-box; }

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #ffffff;
  -webkit-box-content: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}



body {
  color: #ffffff;
  font-size: 12px;
  background-color: black;
}


input:focus {
  outline: none;
}

.navBlack {
  background-color: black;
  box-shadow: 0 4px 5px black;
}

.img-burger {
  max-width: 15vw;
  height: auto;
  margin-left: -10px;
}


.coverBlack {
  background-color: rgba(0, 0, 0, 0.99);
  box-shadow: 0 4px 5px rgba(0,0,0,0.99);
}

.form-control {
    background-color:rgba(0,0,0,0) !important;
    border:none !important;
    border-top: 1px solid #505050!important;
    border-radius: 0px!important;
    color:#ffffff!important; 
} 

.form-control-check {
  background-color:rgba(0,0,0,0) !important;
  border:none !important;
  color:#ffffff!important;
  font-size: 12px; 
}

.form-login {
  background-color:rgba(0,0,0,0) !important;
  border:none !important;
  border-top: none !important;
  border-radius: 0px!important;
  color:#ffffff!important;
  font-size: 1rem;
} 

.icon-eye-size {
  font-size: 1rem;  
}

.field-icon {
  float: right;
  margin-left: -30px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

.field-icon-no-result {
  font-size: 20px;
  float: right;
  margin-right: 12px;
  margin-top: -27px;
  position: relative;
  z-index: 2;
  background-color: black;
}

.field-icon-result {
  font-size: 20px;
  float: right;
  margin-right: 12px;
  margin-top: -27px;
  position: relative;
  z-index: 2;
  background-color: black;
}

.field-icon-reg {
  float: right;
  margin-right: 30px;
  margin-top: -26px;
  position: relative;
  z-index: 2;
}

.borderTop {
  border-top: 1px solid #505050!important;
}


.form-arround {
  background-color:rgba(0,0,0,0) !important;
  border: 1px solid #505050!important;
}


.form-check-label , .custom-file {
  color: #6c757d;
}

.form-error-icon  {
color: RED;
}


.imgProduct {   
  border: 1px solid #505050;
}

.table-img {
  max-height: 5vh;
}


/* .form-control {
  color:#ffffff!important; 
 } */

.btn-custom {
  color:#ffffff; 
  background-color:rgba(0,0,0,0);
  border:none;
}

.btn-custom-border {
  color:#ffffff; 
  background-color:rgba(0,0,0,0);
  border:1px solid #505050;
}

.btn-custom-border:hover {
  border:1px solid #212529;
}

.navTitle {
  color:#ffffff;
  font-weight: 700;
  font-size: 18px;
}

.fa-instagram {
  font-size: 24px;
  }

.title {
  color:#ffffff;
  font-weight: 700;
  font-size: 20px;
}

.accueil {
  position: relative;
  top: calc(10vh + 8vw);
}

.logoSpec {
  position: relative;
  bottom: calc(-45vh);
}

.logoLogin {
  position: relative;
  bottom: calc(-55vh);
}

.active {
  border-bottom: 1px solid #505050;
}

a {
  color: #ffffff;
  text-decoration: none; /* no underline */
}

a:hover {
  color: #6c757d!important;
  ;
}


#myTopnav {
border: 1px solid #505050;
}

.input-group-text {
  background-color:rgba(255, 255, 255, 0);
  color:#ffffff;
}

.file-upload-button {
  color:rgb(255, 181, 62);
}

.card-header, .card {
  color:#505050;
  background-color:rgba(0, 0, 0, 0.657);
}

.borderCard, .cardAnim {  
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);

cursor: pointer;
}

.borderCard:hover , .cardAnim:hover{
  transform: scale(1.05);
}

.flash-alert-success {
  background-color: hsla(152, 70%, 51%, 0.9);
  border: 1px solid black;
  color:black;
}

.flash-alert-danger {
  background-color: hsla(354, 70%, 54%, 0.9);
  border: 1px solid black;
  color:black;
}

.flash-alert-warning {
  background-color: hsla(54, 100%, 62%, 0.9);
  border: 1px solid black;
  color:black;
}

.table-row {
  background-color:black!important;
}
.table-row:hover {
  background-color:  #6c757d6c!important;
}

#theadOrders>tr>th {
  font-size: 16px;
}

#theadOrders>tr>th:hover {
  background-color:#6c757d6c!important;
}

/* Permet de masquer l'en-tête de colonne et la colonne qui permettent de gérer le filtre sur le statut Envoyé 
Commenter sur la vue admin/orders pour plus de compréhension 
*/
.displayHidden {
  visibility: hidden;
  display: none;
}

.ref{
  font-size: xx-small;
}


.table-row {
  cursor:pointer;
  } 
  
.no-result {    
background-color: hsla(354, 70%, 54%, 0.9);
border: 1px solid black;
color:black;
}

.orderUpdRef {   
  border: 1px solid #505050;
  background-color: #6c757d6c;
}


.img-up-admin {
  max-width: 20vh;
  height: auto;
}

.custom-link {
  font-size: 16px;;
}

 

  /* .sorting_asc {
   background-color: cadetblue!important;
  }
  .sorting_desc {
   background-color:brown!important;
  }
  .sorting {
    background-color:burlywood!important;
  } */


/* form-control {
  border: none;
  border-top: 1px solid #505050;
  background-color: black;
  color: #ffffff;
  font-size: 14px;
  } */
/* 
nav {
  box-shadow: 0 5px 5px black;
} */
