/* [class^="col"] {
  border: 1px solid rgb(255, 255, 255)!important;
}

[class^="row"] {
  border: 1px solid yellow!important;
} */

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #ffffff;
  -webkit-box-content: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

body {
  color: #ffffff;
  font-size: 12px;
  background-color: black;
}

.navBlack {
  background-color: black;
  box-shadow: 0 4px 5px black;
}

.coverBlack {
  background-color: rgba(0, 0, 0, 0.99);
  box-shadow: 0 4px 5px rgba(0,0,0,0.99);
}



.form-control {
    background-color:rgba(0,0,0,0) !important;
    border:none !important;
    border-top: 1px solid #505050!important;
    border-radius: 0px!important;
    color:#ffffff!important; 
} 

.form-control-check {
  background-color:rgba(0,0,0,0) !important;
  border:none !important;
  color:#ffffff!important;
  font-size: 12px; 
}


.form-arround {
  background-color:rgba(0,0,0,0) !important;
  border: 1px solid #505050!important;
}


.form-check-label , .custom-file {
  color: #6c757d;
}

/* .custom-file {
  color: #6c757d;
} */

.form-error-icon  {
color: RED;
}

.imgProduct {   
  border: 1px solid #505050;
}



/* .form-control {
  color:#ffffff!important; 
 } */

.btn-custom {
  color:#ffffff; 
  background-color:rgba(0,0,0,0);
  border:none;
}

.btn-custom-border {
  color:#ffffff; 
  background-color:rgba(0,0,0,0);
  border:1px solid #505050;
}

.btn-custom-border:hover {
  border:1px solid #212529;
}

.navTitle {
  color:#ffffff;
  font-weight: 700;
  font-size: 18px;
}

.fa-instagram {
  font-size: 24px;
  }

.title {
  color:#ffffff;
  font-weight: 700;
  font-size: 16px;
}

.accueil {
  position: relative;
  top: calc(10vh + 8vw);
}

.logoSpec {
  position: relative;
  bottom: calc(-45vh);
}

.logoLogin {
  position: relative;
  bottom: calc(-55vh);
}

.active {
  border-bottom: 1px solid #505050;
}

a {
  color: #ffffff;
  text-decoration: none; /* no underline */
}

#myTopnav {
border: 1px solid #505050;
}

.input-group-text {
  background-color:rgba(255, 255, 255, 0);
  color:#ffffff;
}

.file-upload-button {
  color:rgb(255, 181, 62);
}

.card-header, .card {
  color:#505050;
  background-color:rgba(0, 0, 0, 0.657);
}



.borderCard, .cardAnim {  
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);

cursor: pointer;
}

.borderCard:hover , .cardAnim:hover{
  transform: scale(1.05);
}

/* form-control {
  border: none;
  border-top: 1px solid #505050;
  background-color: black;
  color: #ffffff;
  font-size: 14px;
  } */
/* 
nav {
  box-shadow: 0 5px 5px black;
} */
