{% extends 'base.html.twig' %}

{% block title %}Tekoma
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container accueil">
		<main>
			<div class="row">
				<div class="col text-center mt-5 title">RÉINITIALISATION DU MOT DE PASSE OUBLIE</div>
			</div>
			<div class="row justify-content-center align-items-center mt-4">
				<div class="col-8 col-md-6 col-lg-4 text-center mt-4">
					<form method="post">
						<div class="row justify-content-center mt-4">
							<div class="col-10 m-3 text-center">
								<input type="password" name="password" id="inputPassword" class="form-control col-12" placeholder="Mot de passe" required>
								<span toggle="#password-field" class="fas fa-eye-slash field-icon toggle-password icon-eye-size"></span>
							</div>
						</div>
						<div class="row justify-content-center mt-4">
							<div class="col-10 m-3 text-center">
								<input type="hidden" name="token" value="{{ token }}">
								<button class="btn btn-lg btn-custom-border" type="submit" id="valider">
									Valider le mot de passe
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</main>
	</div>
{% endblock %}
